.reset-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.3rem;
  padding-block: 1.5rem;
  font-weight: 700;
  outline: none;
}

.reset-button:hover {
  cursor: pointer;
}
.reset-button:active {
  color: red;
}

.reset-button-wrapper {
  grid-row: -2;
}
